.settings-page {
  margin: 0 auto;

  max-width: 1360px;
  width: 60%;

  .settings {
    display: grid;

    padding: 20px;

    width: 100%;
    background-color: rgb(240, 240, 240);
  }

  .setting {
    width: 100%;
    display: grid;
    align-items: center;
    grid-gap: 20px;
    grid-template-columns: repeat(3, auto) 1fr;

    .custom-button {
      padding: 2px 10px;
      line-height: inherit;
      height: auto;
      min-width: 0;

      outline: none;
    }
  }
}
