.sign-in {
  margin: 0 auto;

  min-width: 300px;
  width: 30vw;

  display: flex;
  flex-direction: column;

  @media screen and (max-width: 800px) {
    min-width: 280px;
  }

  .title {
    margin: 10px 0;
  }

  .link {
    margin-bottom: 20px;

    display: block;
    width: 100%;

    &:hover {
      opacity: 0.7;
    }
  }

  .alert {
    color: rgb(173, 0, 0);
    font-size: 18px;
  }

  .buttons {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 1200px) {
      flex-direction: column;
    }
  }
}
