.sign-up {
  margin: 0 auto;

  min-width: 300px;
  width: 30vw;

  display: flex;
  flex-direction: column;

  .title {
    margin: 10px 0;
  }

  .alert {
    color: rgb(179, 0, 0);
    font-size: 18px;
  }

  .link {
    margin-bottom: 20px;

    display: block;
    width: 100%;

    &:hover {
      opacity: 0.7;
    }
  }
}
