.user-name {
  padding: 10px 0;
  padding-right: 15px;
  position: relative;
  cursor: pointer;
  user-select: none;

  @media screen and (max-width: 800px) {
    padding-right: 25px;
    padding-bottom: 0;
  }

  .dropdown-arrow {
    right: 0px;
    position: absolute;
    display: inline-block;
    transform: rotate(90deg);

    transition: transform 0.3s;

    &.active {
      transform: rotate(-90deg);
    }
  }
}
