.search {
  margin-left: auto;

  max-width: 40%;
  display: flex;
  flex-grow: 1;
  align-items: center;

  .search-form {
    position: relative;
    width: 100%;
  }

  .search-input {
    padding: 5px 10px;
    padding-right: 40px;

    display: block;
    width: 100%;

    &::placeholder {
      text-transform: uppercase;
    }
  }

  .search-label {
    display: block;
    position: relative;
    width: 100%;
  }

  .input-icon {
    position: absolute;
    display: block;
    top: 50%;
    right: 5px;
    font-size: 16px;

    transform: translateY(-50%);
  }

  .clear-input {
    background: none;
    border: none;

    cursor: pointer;
  }
}
