.search {
  top: 0;
  left: 18vw;
  position: absolute;
  margin-left: auto;

  width: 40vw;
  align-items: center;

  @media (max-width: 800px) {
    left: 30vw;
    width: 60vw;
  }

  .search-form {
    position: relative;
    width: 100%;
  }

  .search-input {
    padding: 5px 10px;
    padding-right: 40px;

    display: block;
    width: 100%;

    &::placeholder {
      text-transform: uppercase;
    }
  }

  .search-label {
    display: block;
    position: relative;
    width: 100%;
  }

  .input-icon {
    position: absolute;
    display: block;
    top: 50%;
    right: 5px;
    font-size: 16px;

    transform: translateY(-50%);
  }

  .clear-input {
    background: none;
    border: none;

    cursor: pointer;
  }
}
