.search {
  margin-left: 50px;

  align-items: center;
  display: flex;
  flex-grow: 2;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 800px) {
    order: 4;
    margin: 0;

    padding: 0 10px;
    width: 100%;
  }

  .group {
    margin: 0;
  }

  .form-input {
    margin: 0;
  }

  .search-form {
    position: relative;
    width: 100%;
  }

  .search-input {
    padding: 5px 10px;
    padding-right: 40px;

    display: block;
    width: 100%;

    &::placeholder {
      text-transform: uppercase;
    }
  }

  .search-label {
    display: block;
    position: relative;
    width: 100%;
  }

  .input-icon {
    position: absolute;
    display: block;
    top: 50%;
    right: 5px;
    font-size: 16px;

    transform: translateY(-50%);
  }

  .clear-input {
    background: none;
    border: none;

    cursor: pointer;
  }
}
